FitAndHealthy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FitAndHealthy.v12.suo
FitAndHealthy.v12.suo
FitAndHealthy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FitAndHealthy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FandHSeed/bin/Debug/FandHSeed.vshost.exe
FitAndHealthy/App.config